[Unit]
Description=OSC Gateway

[Service]
Environment="args=%h/.config/oscgard/actions.conf"
ExecStart=/usr/bin/oscgard $args
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
